<div class="perfil-container">
  <div class="descripcion zoom-in">
    <h1>Sobre Mí</h1>
    <p>
      Soy un apasionado del desarrollo web y la tecnología.
      Busco mejorar mis habilidades constantemente y aportar valor en cada proyecto.  
    </p>
  </div>

  <div class="educacion zoom-in2">
    <h1>Educación</h1>
    <ul>
      <li><i class="fas fa-graduation-cap"></i>Técnico en Programación - Universidad Tecnológica Nacional</li>
      <li><i class="fas fa-book"></i> Certificación en Desarrollo Web - Udemy</li>
      <li><i class="bi bi-globe text-primary"></i>English for Information Technology IT2 - Ministerio de Educacion</li>
      <li><i class="bi bi-globe text-primary"></i>English for Developers & IT Professionals - Desafio Latam</li>
      <li><i class="bi bi-globe text-primary"></i>CSS Avanzado - Desafio Latam</li>
    </ul>
  </div>

  <div class="habilidades zoom-in3">
    <h1>Especialidades</h1>
    <div class="habilidades-lista">
      <span>JavaScript</span> <span>HTML</span> <span>CSS</span> 
      <span>Angular</span> <span>C</span> <span>TypeScript</span> <span>Node.js</span> 
      <span>SQL</span> <span>React</span> <span>Java</span> <span>Spring Boot</span>
    </div>
  </div>

  
</div>
