<div class="contact-container">
    <section class="contact-form">
        <h2>Contactate Conmigo</h2>
    <form action="https://formsubmit.co/diego171104@gmail.com" method="POST">
          <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" placeholder="Ingresa tu nombre" required/>
          </div>
          
          <div class="form-group">
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" placeholder="Ingresa tu correo" required/>
          </div>
    
          <div class="form-group">
            <label for="subject">Asunto:</label>
            <input type="text" id="subject" name="subject" placeholder="Asunto de tu mensaje" required/>
          </div>
    
          <div class="form-group">
            <label for="message">Mensaje:</label>
            <textarea id="message" name="message" placeholder="Escribe tu mensaje aquí" required></textarea>
          </div>
    
          <button type="submit">Enviar mensaje</button>
        </form>
      </section>
  
    <section class="contact-info">
      <h2>Información de contacto</h2>
          <div class="social-buttons">
            <button class="social-button linkedin" onclick="window.open('https://www.linkedin.com/in/diego-fernández-ba690323a', '_blank')">
              <i class="fab fa-linkedin"></i> LinkedIn
            </button>
            <button class="social-button github" onclick="window.open('https://github.com/Diegoo17', '_blank')">
              <i class="fab fa-github"></i> GitHub
            </button>
            <button class="social-button instagram" onclick="window.open('https://www.instagram.com/dieeego17_', '_blank')">
              <i class="fab fa-instagram"></i> Instagram
            </button>
            <button class="social-button whatsapp" onclick="window.open('https://wa.me/2235719422', '_blank')">
              <i class="fab fa-whatsapp"></i> WhatsApp
            </button>
           <button class="social-button gmail" onclick="window.open('https://mail.google.com/mail/?view=cm&fs=1&to=diego171104@gmail.com&su=Asunto&body=Hola%20me%20contacto', '_blank')">
            <i class="fab fa-google"></i> Gmail
           </button> 
          </div>
    </section>
  </div>
  