<section class="projects">
    <h2>Mis Proyectos</h2>
    <div class="project-card">
        <h3>Taller Mecánico</h3>
        <p>Desarrollé un sistema de gestión para el taller mecánico <strong>Lubricentro SB</strong>, ubicado en Mar del Plata. Esta página fue el proyecto final de mi Tecnicatura en Programación. Utilicé <strong>Angular</strong> y implementé una interfaz fácil de usar para que los usuarios gestionen reservas y la disponibilidad del taller.</p>
        <a href="https://github.com/Diegoo17/TallerMecanico" class="btn" target="_blank">Ver en GitHub</a>
    </div>
    <div class="project-card">
        <h3>Tienda de Indumentaria</h3>
        <p>Una tienda en línea para <strong>ProfitMDQ</strong>, una tienda de ropa en Mar del Plata. El proyecto fue realizado en <strong>Angular</strong> y tiene un sistema de gestión de productos, usuarios y pedidos. Fue mi primer proyecto como freelancer, y estoy muy orgulloso de cómo resultó.</p>
        <a href="https://github.com/Diegoo17/TiendaIndumentaria" class="btn" target="_blank">Ver en Github</a>
    </div>
    <div class="project-card">
        <h3>Portafolio</h3>
        <p>Este sitio es el comienzo de mi viaje como programador fullstack. He utilizado <strong>Angular</strong> para crear una plataforma personal donde muestro mis proyectos, habilidades y experiencia profesional. Utilizo este portafolio para postularme a trabajos y mantener una presencia profesional en línea.</p>
        <a href="#" class="btn">Ver en Github</a>
    </div>
</section>
