<nav class="navbar">
    <div class="nav-links">
      <ul>
        <li routerLinkActive="active-li" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/home">Home</a>
        </li>
        <li routerLinkActive="active-li">
          <a routerLink="/about">About Me</a>
        </li>
        <li routerLinkActive="active-li">
          <a routerLink="/projects">Projects</a>
        </li>
        <li routerLinkActive="active-li">
          <a routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  