<div class="info">
    <div class="imagen">
      <img src="icons/fotoPerfil.png" alt="Foto de perfil">
    </div>
    <div class="datos">
      <h2>Hola, soy Diego</h2>
      <p class="profesion">Desarrollador Web y Diseñador Gráfico</p>
      <div class="buttons">
        <button class="button" (click)="downloadCV('Diego Fernández Echeverría - FullStack Developer.pdf')">CV - FullStack Developer</button>
        <button class="button" (click)="downloadCV('Diego Fernández Echeverría_CV - Marketing.pdf')">CV - DIseñador Gráfico</button>
      </div>
      
    </div>
</div>
  
