<div class="info">
    <div class="imagen">
      <img src="icons/fotoPerfil.png" alt="Foto de perfil">
    </div>
    <div class="datos">
      <h2>Hola, soy Diego</h2>
      <p class="profesion">Desarrollador Web y Diseñador Gráfico.</p>
      <div class="buttons">
        <button class="button" (click)="downloadCV('Diego Fernández Echeverría -Developer.pdf')">Descargar CV</button>
        <button class="button" (click)="downloadCV('Diego Fernández Echeverría -CV.  English.pdf')">Download CV</button>
      </div>
      
    </div>
</div>
  
