<section id="proyectos" class="proyectos">
    <h2 class="titulo">Mis Proyectos Como Desarrollador</h2>
    <div class="proyectos-container">
      <div class="proyecto">
        <img src="icons/lubricentro.png" alt="Proyecto 1">
        <div class="proyecto-info">
          <h3>Taller Mecánico Lubricentro SB</h3>
          <p>Página Web para gestionar un taller mecánico. Realizada en Angular, utilizando tecnologias como: Javascript, Typescript, HTML,
            CSS, base de datos MySQL, entre otras.</p>
          <a href="https://github.com/Diegoo17/TallerMecanico" class="boton-proyecto" target="_blank">Ver Proyecto</a>
        </div>
      </div>
      
      <div class="proyecto">
        <img src="icons/LogoProfit.png" alt="Proyecto 2">
        <div class="proyecto-info">
          <h3>Tienda Indumentaria - ProfitMDQ</h3>
          <p>Página web para gestionar una tienda de indumentaria</p>
          <a href="https://github.com/Diegoo17/TiendaIndumentaria" class="boton-proyecto" target="_blank">Ver Proyecto</a>
        </div>
      </div>
      
      <div class="proyecto">
        <img src="icons/port.png" alt="Proyecto 2">
        <div class="proyecto-info">
          <h3>Portafolio - Diego</h3>
          <p>Sitio web personal donde muestro mis habilidades como desarrollador web y diseñador gráfico. Es completamente responsivo
             y contiene una galería de proyectos y un formulario de contacto.</p>
          <a href="https://github.com/Diegoo17/TiendaIndumentaria" class="boton-proyecto" target="_blank">Ver Proyecto</a>
        </div>
      </div>
    </div>
  </section>
  