<section id="proyectos" class="proyectos">
  <h2 class="titulo zoom-in">Mis Diseños</h2>
  <div class="proyectos-container">
    <div 
      class="proyecto zoom-in" 
      *ngFor="let proyecto of proyectos" 
      (click)="abrirGaleria(proyecto.imagenes)"
    >
      <img [src]="proyecto.imagenes[0]" [alt]="proyecto.nombre">
      <div class="proyecto-info">
        <h3>{{ proyecto.nombre }}</h3>
        <p>{{ proyecto.descripcion }}</p>
        <a [href]="proyecto.enlace" class="boton-proyecto" target="_blank">Ver Diseño</a>
      </div>
    </div>
  </div>

  <div *ngIf="mostrarModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="cerrarGaleria()">&times;</span>
  
      <!-- Contenedor de la imagen con botones de navegación -->
      <div class="modal-body">
        <button class="prev" (click)="anteriorImagen()">&#10094;</button>
        <img [src]="imagenesProyecto[indiceImagen]" class="galeria-img">
        <button class="next" (click)="siguienteImagen()">&#10095;</button>
      </div>
    </div>
  </div>
</section>
