<section id="proyectos" class="proyectos">
    <h2 class="titulo">Mis Diseños</h2>
    <div class="proyectos-container">
      <div class="proyecto">
        <img src="icons/1.png" alt="Proyecto 1">
        <div class="proyecto-info">
          <h3>Pizzeria La Mini</h3>
          <p>Logo para la Pizzeria La Mini. Cuenta con mockups para mostrar cómo se vería en distintos formatos, como carteles o menús. 
            Ademas cuenta con una versión alternativa del logo.
          </p>
          <a href="https://www.behance.net/gallery/218030119/The-Box-Burger" class="boton-proyecto" target="_blank">Ver Diseño</a>
        </div>
      </div>
      
      <div class="proyecto">
        <img src="icons/logo.png" alt="Proyecto 2">
        <div class="proyecto-info">
          <h3>The Box</h3>
          <p>Logo para la hamburgueseria The Box. Cuenta con mockups, para demostrar como se veria en distintos formatos, y una version
            alternativa del logo </p>
          <a href="https://www.behance.net/gallery/218101385/Pizzeria-La-Mini" class="boton-proyecto" target="_blank">Ver Diseño</a>
        </div>
    </div>

    </div>
      
   
  </section>
  