<section class="home">
    <div class="hero">
      <h1 class="typing-effect">
        Hola, soy <span class="highlight">Diego</span>
      </h1>
      <p class="intro-text">
        Soy un desarrollador Full Stack especializado en la creación de aplicaciones web modernas. Con una pasión por la tecnología y la programación, me encanta resolver problemas complejos y crear soluciones escalables que mejoren la experiencia de los usuarios. 
      </p>
      <p class="intro-text">
        Con experiencia en tecnologías como <strong>HTML</strong>, <strong>CSS</strong>, <strong>JavaScript</strong>, <strong>Angular</strong>, <strong>Node.js</strong>, <strong>MySQL</strong> y <strong>PostgreSQL</strong>, siempre estoy buscando nuevos desafíos. ¡Estoy listo para aportar valor a tu próximo proyecto!
      </p>
      <button class="cta-btn">
        <a routerLink="about">Saber más sobre mí</a>
      </button>
    </div>
  </section>
  